div.main{
	width: 80%;
	min-height: 100%;
	min-height:400px;
	max-width: 1260px;/* a max-width may be desirable to keep this layout from getting too wide on a large monitor. This keeps line length more readable. IE6 does not respect this declaration. */
	min-width: 780px;/* a min-width may be desirable to keep this layout from getting too narrow. This keeps line length more readable in the side columns. IE6 does not respect this declaration. */
	background: #f9f9f9;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}

div.section{
	background: silver;
	min-height: 200px;
	height:auto !important; 
	height: 200px;
	border: solid blue 4px;
}

div.index-section{
	background: #fcfcfc;
	min-height: 200px;
	height:auto !important; 
	height: 200px;
	border: solid blue 0px;
}
div.a-goal-section{
	background: #fcfcfc;
	min-height: 150px;
	height:auto !important; 
	height: 150px;
	border: solid red 0px;
	overflow: hidden;
}
div.b-goal-section {
	background: #fcfcfc;
	min-height: 100px;
	height:auto !important; 
	height: 100px;
	border: solid brown 0px;
	overflow: hidden;
}
div.c-goal-section{
	background: #fcfcfc;
	min-height: 100px;
	height:auto !important; 
	height: 100px;
	border: solid yellow 0px;
	overflow: hidden;
}
div.d-goal-section{
	background: #fcfcfc;
	min-height: 100px;
	height:auto !important; 
	height: 100px;
	border: solid red 0px;
	overflow: hidden;
}

div.header{ 
	margin: 0; 
	text-align: right;
	background: #aba;
	font-size: 28px; 
	font-variant: small-caps;
	padding: 0px 50px 0px 0px;
}

div.goal-type-header{ 
	margin: 0; 
	text-align: right;
	background: #aba;
	font-size: 20px; 
	font-variant: small-caps;
	padding: 0px 50px 0px 0px;
}

div.index-element{
	position:relative;
	float: left;
	left:0;
	width:100%;
	background: white;
}

div.a-element{
	background-image: url(hoi.png); 
	
	width: 400px;
	float: left;
	left:0;
	width:50%;
	background: white;
	border: solid green 0px;
}

div.b-element{
	position:relative;
	float: left;
	left:0;
	width:25%;
	background: white;
}

div.c-element{
	position:relative;
	float: left;
	left:0;
	width:20%;
	background: white;
}

div.example-plot{

	background: white;
	position:relative;
}

p.text-header{
	font-size: 20px; 
	font-variant: small-caps;	
	padding: 0px 50px 0px 20px;
}

p.simple-text{
	font-size: 16px; 
	padding: 0px 50px 0px 30px;
}
ul.simple-list{
	font-size: 16px; 
	padding: 0px 50px 0px 60px;
}

ul.horizontal-menu, ul li .horizontal-menu{
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

ul li.horizontal-menu{
	display: inline;
	white-space: nowrap;
}

span.round-style{
	background-color:#ffffff;
	color:#000000;
	line-height:1.7;
	border: 1px solid rgba(0, 0, 0, 0.25);
	border-radius: 6px 6px 6px 6px;
	padding: 2px 10px 2px 10px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

div.round-style{
	width: 300px;
	background-color:#ffffff;
	color:#000000;
	line-height:1.7;
	border: 1px solid rgba(0, 0, 0, 0.25);
	border-radius: 6px 6px 6px 6px;
	padding: 2px 10px 2px 10px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

form.round-style{

	text-align: center;
	width:200px;
	background-color:#999999;
	color:#ffffff;
	line-height:1.7;
	border: 1px solid rgba(0, 0, 0, 0.25);
	border-radius: 6px 6px 6px 6px;
	padding: 2px 10px 2px 10px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	margin-left: auto;
	margin-right: auto;
}